.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2.5rem;
  background: linear-gradient(145deg, #2e3238, #1f2125);
  border-radius: 16px;
  border-left: 6px solid #ff5252; 
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  color: #ff5252;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.fullWidth {
  width: 100%;
  margin-bottom: 15px;
}

.section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

::ng-deep .mat-mdc-input-element:disabled {
  color: #ffffff !important;
  opacity: 0.7; 
}


::ng-deep .mat-mdc-form-field-label {
  color: #aaaaaa !important;
}

::ng-deep .mat-mdc-notched-outline > * {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

::ng-deep .mat-mdc-form-field-icon-suffix mat-icon {
  color: #ff5252 !important;
}

::ng-deep .mat-mdc-checkbox-disabled .mat-mdc-checkbox-label {
  color: #e0e0e0 !important;
}
button[color="warn"] {
  background-color: #ff5252 !important;
  color: white !important;
  font-weight: bold;
  height: 50px;
  font-size: 1.1rem;
  margin-top: 10px;
}

button[color="warn"]:hover {
  box-shadow: 0 0 15px rgba(255, 82, 82, 0.4);
}

button[color="primary"] {
  border: 1px solid #21d184 !important;
  color: #21d184 !important;
  height: 45px;
  margin-top: 15px;
}