<div class="container">
  
  <h1 style="color: white;">Listando Técnicos</h1>

  <button mat-raised-button routerLink="create" class="mat-elevation-z8 btn-novo">
    Novo técnico
  </button>

  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input style="color: white;"/>
  </mat-form-field>

  <div class="mat-elevation-z8 content-table">
    <table mat-table [dataSource]="dataSource">
      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="color: white;">ID</th>
        <td mat-cell *matCellDef="let element" style="color: white;">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef style="color: white;">Nome</th>
        <td mat-cell *matCellDef="let element" style="color: white;">{{ element.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef style="color: white;">CPF</th>
        <td mat-cell *matCellDef="let element" style="color: white;">{{ element.cpf }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef style="color: white;">Email</th>
        <td mat-cell *matCellDef="let element" style="color: white;">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef style="color: white;">Ações</th>
        <td mat-cell *matCellDef="let element">
          
          <button mat-icon-button color="primary" [routerLink]="['update', element.id]">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" [routerLink]="['delete', element.id]">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>