<mat-drawer-container class="container-principal" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    
    <div class="logo-container">
      <mat-icon class="logo-icon">auto_awesome</mat-icon>
      <span class="logo-text">HelpDesk</span>
    </div>

    <mat-nav-list class="nav-list-container">
      

      <a mat-list-item routerLink="/home" class="nav-item">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>

      <a mat-list-item routerLink="/tecnicos" class="nav-item">
        <mat-icon>support_agent</mat-icon>
        <span>Técnico</span>
      </a>

      <a mat-list-item routerLink="/clientes" class="nav-item">
        <mat-icon>person</mat-icon>
        <span>Cliente</span>
      </a>

      <a mat-list-item routerLink="/chamados" class="nav-item">
        <mat-icon>receipt_long</mat-icon>
        <span>Chamado</span>
      </a>
      <div class="menu-spacer"></div>

      <a mat-list-item href="https://github.com/seu-usuario/seu-repositorio" target="_blank" class="nav-item">
        <mat-icon>code</mat-icon>
        <span>Código Fonte</span>
      </a>

      <a mat-list-item (click)="logout()" class="nav-item logout">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </a>

    </mat-nav-list>
    
  </mat-drawer>

  <mat-drawer-content class="conteudo-principal">
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Gestão de Chamados</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
    
  </mat-drawer-content>
</mat-drawer-container>