.container-principal {
  height: 100vh;
  width: 100vw;
  background-color: #1a1c1e;
}

.sidenav {
  width: 250px;
  background-color: #1a1c1e;
  border-right: 1px solid #21d184; 
  border-radius: 0px 4px 4px 0px;
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #21d184;
  margin-bottom: 10px;
}

.logo-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
  margin-right: 12px;
  color: #21d184;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
}

.nav-list-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}


.menu-spacer {
  margin-top: 200px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 50px;
  color: #ffffff;
  margin: 0 10px;
  border-radius: 4px;
  transition: all 0.3s;
}

.nav-item mat-icon {
  margin-right: 10px;
  color: #21d184;
}

.nav-item span {
  font-size: 1rem;
}

.mat-mdc-nav-list .mat-mdc-list-item{
  margin: 0;
}

.nav-item:hover {
  background-color: rgba(33, 209, 132, 0.1);
  border-left: 4px solid #21d184;
}

.nav-item:hover span {
  color: #fff;
}


.nav-item.logout {
  margin-bottom: 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.nav-item.logout:hover {
  background-color: rgba(255, 82, 82, 0.1);
  border-left: 4px solid #ff5252;
}

.nav-item.logout:hover mat-icon {
  color: #ff5252;
}

.toolbar {
  background-color: #1a1c1e;
  color: #eee;
  height: 71px;
  border-bottom: 1px solid #21d184;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.toolbar mat-icon {
  color: #eee;
}

.toolbar button:hover {
  background-color: rgba(33, 209, 132, 0.1);
}

.conteudo-principal {
  background-color: #1a1c1e;
  padding: 20px;
}