<mat-card class="card">
  <h2>Deseja realmente deletar este técnico?</h2>

  <p><strong>Nome:</strong> {{ tecnico.nome }}</p>
  <p><strong>CPF:</strong> {{ tecnico.cpf }}</p>
  <p><strong>Email:</strong> {{ tecnico.email }}</p>

  <div class="buttons">
    <button mat-raised-button color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
      Deletar
    </button>

    <button mat-raised-button color="primary" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
  </div>
</mat-card>
