/* Container Principal (Estilo Dark) */
.container {
    max-width: 600px;
    width: 100%;
    margin: 2rem auto;

    /* AUMENTEI O PADDING INTERNO AQUI */
    padding: 3rem;

    background: linear-gradient(145deg, #2e3238, #1f2125);
    border-radius: 16px;
    color: white !important;
    /* Borda Vermelha */
    border-left: 6px solid #ff5252;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.fullWidth {
    width: 100%;
    margin-bottom: 15px;
}

.section {
    display: flex;
    color: white;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

/* --- TRUQUE PARA BORDAS BRANCAS (Outline) --- */

/* Cor da borda em estado normal (Branco levemente transparente) */
::ng-deep .mat-mdc-notched-outline>* {
    border-color: rgba(255, 255, 255, 0.7) !important;
}

/* Cor da borda quando clica/foca (Vermelho, pois é delete) */
::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-notched-outline>* {
    border-color: #ff5252 !important;
}

/* --- TEXTOS E ÍCONES --- */

/* Texto dentro do input (Branco) */
::ng-deep .mat-mdc-input-element:disabled {
    color: #ffffff !important;
    opacity: 1;
    /* Remove transparência padrão para ficar bem legível */
    -webkit-text-fill-color: #ffffff !important;
}

/* Cor do Label (Título do campo) */
::ng-deep .mat-mdc-form-field-label,
::ng-deep .mat-mdc-floating-label {
    color: #cccccc !important;
}

/* Cor dos Ícones */
::ng-deep .mat-mdc-form-field-icon-suffix mat-icon {
    color: #ff5252 !important;
}

/* Checkboxes */
::ng-deep .mat-mdc-checkbox-disabled .mat-mdc-checkbox-label {
    color: #e0e0e0 !important;
}

/* --- BOTÕES --- */
button[color="warn"] {
    background-color: #ff5252 !important;
    color: white !important;
    font-weight: bold;
    height: 50px;
    font-size: 1.1rem;
    margin-top: 15px;
}

button[color="primary"] {
    border: 1px solid #21d184 !important;
    /* Borda Verde no Cancelar */
    color: #21d184 !important;
    height: 45px;
    margin-top: 15px;
    font-weight: bold;
}

button[color="primary"]:hover {
    background-color: rgba(33, 209, 132, 0.1) !important;
}