<div class="container">
  <h1>Novo Técnico</h1>

  <form [formGroup]="form" (ngSubmit)="create()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      <mat-icon>save</mat-icon>
      Salvar
    </button>

  </form>
</div>
