
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  color: white !important;
}


h1 {
  color: #21d184;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


button[mat-stroked-button] {
  color: #21d184 !important;
  border-color: #21d184 !important;
  margin-bottom: 20px;
  font-weight: bold;
}

button[mat-stroked-button]:hover {
  background-color: rgba(33, 209, 132, 0.1);
}
mat-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-input-element {
  color: #ffffff !important;
  caret-color: #21d184;
}
::ng-deep .mat-mdc-form-field-label {
  color: #aaaaaa !important;
}
::ng-deep .mat-mdc-notched-outline > * {
  border-color: rgba(255, 255, 255, 0.3) !important;
}

.mat-elevation-z8 {
  background: linear-gradient(145deg, #2e3238, #1f2125);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

table {
  width: 100%;
  background-color: transparent !important;
}

th.mat-header-cell {
  background-color: #25282c;
  color: #21d184;
  font-weight: bold;
  font-size: 1rem;
}


td.mat-cell {
  color: #e0e0e0;
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

.edit mat-icon {
  color: #82b1ff;
  cursor: pointer;
  margin-right: 10px;
}

.delete mat-icon {
  color: #ff5252;
  cursor: pointer;
}


mat-paginator {
  background-color: transparent !important;
  color: #ffffff !important;
}

::ng-deep .mat-mdc-paginator-container {
    color: white !important;
}
::ng-deep .mat-mdc-paginator-icon {
    fill: white !important;
}

.text-green {
  color: #21d184 !important;
}


.text-white {
  color: #ffffff !important;
}

.text-gray {
  color: #e0e0e0 !important;
}

.text-danger {
  color: #ff5252 !important;
}


.text-info {
  color: #82b1ff !important;
}